.container {
  width: 100%;
  height: auto;

  margin-top: 0.8rem;
  border: 0.1rem solid black;

  border-radius: 0.5rem;

  padding: 0.5rem;

  span {
    font-size: 1.5rem;
    font-weight: bold;
  }

  p {
    font-size: 1.2rem;
  }
}
