.headSideBar {
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;

  justify-content: space-between;

  padding: 0px 3rem;

  .Trigger {
    cursor: pointer;
  }

  border-bottom: 1px solid black;
}

.Container {
  height: auto;
  width: 100%;
}
